<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Password Change Done</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/widgets.css' %}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>
        <div id="main">
            <div id="header">
                <h1 id="site">
                    <a href="/pins">GarfieldWAY</a>
                </h1>
                    <div id="user-tools">
        
                    {% if user.is_authenticated %}
				
					Welcome,
					<strong>{{ user.get_username }}</strong>.
					
					{% else %}
					
					Welcome,
					<strong>guest</strong>.
					
					{% endif %}
        
					<a href="/pins" id="userlink">Home</a> /
					
					<a href="/accounts/signup" id="userlink">Sign up</a> /

					<a href="/accounts/login" id="userlink">Log in</a> /

					<a href="/accounts/logout" id="userlink">Log out</a>
        
                    </div>
            </div>
                
            <div class="breadcrumbs">
                
				<a href="/pins/">Home ›</a> Accounts › <a href="/accounts/password_change_done">Password Change Done</a>
                    
            </div>
			
		<div id="content" class="flex">
		
            <h1 id="title">Password Change Done</h1>
		
			<div id="content-main">
				
				<h1>Click below to return to the home page.</h1>
				
				<a href="/pins/">
				<button id="accountbutton"> Home </button>
				</a>
			
			</div>	
		
		</div>
		
				
	</body>
				
</html>