<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Sign Up</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/widgets.css' %}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>
        <div id="main">
            <div id="header">
                <h1 id="site">
                    <a href="/pins">GarfieldWAY</a>
                </h1>
                    <div id="user-tools">
        
                    {% if user.is_authenticated %}
				
					Welcome,
					<strong>{{ user.get_username }}</strong>.
					
					{% else %}
					
					Welcome,
					<strong>guest</strong>.
					
					{% endif %}
        
					<a href="/pins" id="userlink">Home</a> /
				
					<a href="/accounts/profile" id="userlink">Profile</a> /
					
					<a href="/accounts/signup" id="userlink">Sign up</a> /

					<a href="/accounts/login" id="userlink">Log in</a> /

					<a href="/accounts/logout" id="userlink">Log out</a>
        
                    </div>
            </div>
                
            <div class="breadcrumbs">
                
				<a href="/pins/">Home ›</a> Accounts › <a href="/accounts/signup">Sign up</a>
                    
            </div>
			
			<div id="content" class="flex">
		
				<h1 id="title">Sign Up</h1>
			
				<div id="content-main">

					{% block content %}
					
						<form method="post">
						{% csrf_token %}
						
						{% for field in form %}
						
						  <p>
						  
							<!-- Field labels and input boxes-->
							{{ field.label_tag }}<br>
							{{ field }}
							
							<!-- Help texts-->
							<div class="helptexts">
							{% if field.help_text %}
							  <small>{{ field.help_text | safe}}</small>
							{% endif %}
							</div>
							
							<!-- Error messages -->
							<div class="errormessages"
							{% for error in field.errors %}
							  <p style="color: red">{{ error | safe }}</p>
							{% endfor %}
							</div>
							
						  </p>
						  
						{% endfor %}
					
						<button type="submit" id="accountbutton">Sign up</button>
	
						</form>
						
					{% endblock %}
				
				</div>	
			
			</div>
		
		</div>
</body>

<script>
	if ( window.history.replaceState ) {
	window.history.replaceState( null, null, window.location.href );
}
</script>


</html>