<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Delete Pin</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/widgets.css' %}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>

	<div id="main">

        <div id="header">
            <h1 id="site">
                <a href="/pins">GarfieldWAY</a>
            </h1>
                <div id="user-tools">

                {% if user.is_authenticated %}
				
                Welcome,
                <strong>{{ user.get_username }}</strong>.
				
				{% else %}
				
				Welcome,
                <strong>guest</strong>.
				
				{% endif %}

				<a href="/pins" id="userlink">Home</a> /
				
				<a href="/accounts/profile" id="userlink">Profile</a> /
				
				<a href="/accounts/signup" id="userlink">Sign up</a> /

				<a href="/accounts/login" id="userlink">Log in</a> /

				<a href="/accounts/logout" id="userlink">Log out</a>
				
                </div>
        </div>
		
		<div class="breadcrumbs">
		
            <a href="/pins/">Home ›</a> <a href="/pins/">Pins ›</a> <b>Delete pin</b>
			
        </div>
		
		<div id="content" class="flex">
			
			<form action="" method="post" id="pin_form" novalidate="">
				{% csrf_token %}
			
            <h1>Delete Pin</h1>
			
			<ul class="object-tools">
				
				<li>
					
					<a href="/pins/" class="addlink">Cancel</a>
					
				</li>
					
            </ul>
			
			<div>
				
				<h1 id="sub-text">Are you sure that you want to delete this pin?</h1>
				
				<div class="delete-button">
				
					<ul class="object-tools">
					
						<a href="/pins" id="deletelink"><button type="submit">Delete pin</button></a>
						
					</ul>	
					
				</div>
				
			</div>
			
			</form>
			
		</div>
	
	<footer id="footer"> </footer>
	
</body>

<script>
	if ( window.history.replaceState ) {
	window.history.replaceState( null, null, window.location.href );
}
</script>


</html>