<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Edit pin</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/widgets.css' %}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
	
	<!-- <script type="text/javascript" src="/my_admin/jsi18n/"></script> -->
	<!-- <script type="text/javascript" src="/media/admin/js/core.js"></script> -->
	<!-- <link rel="stylesheet" type="text/css" href="/media/admin/css/global.css"/> -->

</head>
<body>
    <div id="main">

        <div id="header">
            <h1 id="site">
                <a href="/pins">GarfieldWAY</a>
            </h1>
                <div id="user-tools">

                {% if user.is_authenticated %}
				
                Welcome,
                <strong>{{ user.get_username }}</strong>.
				
				{% else %}
				
				Welcome,
                <strong>guest</strong>.
				
				{% endif %}

				<a href="/pins" id="userlink">Home</a> /
				
				<a href="/accounts/profile" id="userlink">Profile</a> /
				
				<a href="/accounts/signup" id="userlink">Sign up</a> /

				<a href="/accounts/login" id="userlink">Log in</a> /

				<a href="/accounts/logout" id="userlink">Log out</a>

                </div>
        </div>
		
		<div class="breadcrumbs">
		
            <a href="/pins/">Home ›</a> <a href="/pins/">Pins ›</a> <b>Edit pin</b>
        
		</div>
		
		<div id="content" class="colM">

            <h1>Edit pin</h1>
		
			<div id="content-main">
			
				<ul class="object-tools">
				
					<li>
					
						<a href="/pins/" class="addlink">Cancel</a>
					
					</li>
					
                </ul>
			
			
				<form action="" method="post" id="pin_form" novalidate="">
					{% csrf_token %}
						{% for field in pin_form %}
						
						  <p>
						  
							<!-- Field labels and input boxes-->
							{{ field.label_tag }}<br>
							{{ field }}
							
							<!-- Help texts-->
							<div class="helptexts">
							{% if field.help_text %}
							  <small>{{ field.help_text | safe}}</small>
							{% endif %}
							</div>
							
							<!-- Error messages -->
							<div class="errormessages"
							{% for error in field.errors %}
							  <p style="color: red">{{ error | safe }}</p>
							{% endfor %}
							</div>
							
						  </p>
						  
						{% endfor %}
					
					
					<div class="submit-row">
						<input type="submit" value="Save and add another" name="_addanother">
						<input type="submit" value="Save and continue editing" name="_continue">
						<input type="submit" value="Save" class="default" name="_save">
					</div>
			</form>

			</div>
		</div>
    </div>

</body>
</html>