<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Pin List</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/widgets.css' %}" type="text/css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
</head>
<body>

	<div id="main">

        <div id="header">
            <h1 id="site">
                GarfieldWAY
            </h1>
                <div id="user-tools">

                Welcome,
                <strong>user</strong>.

                <a>View site</a> /

                <a>Change password</a> /

                <a>Log out</a>

                </div>
        </div>
		
		<div class="breadcrumbs">
		
            <a href="/pins/">Home ›</a> <b>Pins</b> 
			
        </div>
		
		<div id="content" class="flex">
		
            <h1 id="title">Pin List</h1>
		
			<div id="content-main">
				
				<ul class="object-tools">
					<li>
						<a href="/pins/create/" class="addlink">Add pin</a>
					</li>
                </ul>
				
				{% for pin in latest_pin_list %}
					
					<div class="pinlist">
						
						<div>
						
						<h1>
						
						{{ pin.pin_name }}
	
						</h1>	
						
						</div>
						
						<ul>
							<b>Description:</b> {{ pin.pin_description }}
						</ul>
						
						<ul>
							<b>Room:</b> {{ pin.pin_room }}
						</ul>
						
						<ul>
							<b>Type:</b> {{ pin.pin_type }}
						</ul>
						
						<ul>
							<b>Date:</b> {{ pin.date }}
						</ul>
						
					</div>
					
				{% endfor %}
				
			</div>
			
		</div>	
		
	</div>
	
	<footer id="footer"> </footer>
	
</body>

<script>
	if ( window.history.replaceState ) {
	window.history.replaceState( null, null, window.location.href );
}
</script>


</html>